src/**
test/**
esbuild.js
tsconfig.json
vitest.config.ts
Makefile
.vscode/**
node_modules/**
.gitignore
.vscodeignore
**/*.ts
**/*.map
*.vsix
**/.DS_Store
!media/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
